:root {
    --red-color: #E6563B;
    --orange-color: #EB9D3A;
    --green-color: #7CB06C;
    --blue-color: #00ABA9;
    --light-color: #F0F0F0;
    --gray-color: #E6E6E6;
}

body {
    background-color: var(--light-color);
}
.logo-container{
    font-size: 0;
    position: absolute;
    width: 100%;
    background-color: white;
    top: 75px;
    height: 50px;

}
.centered{
    width: 100%;
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: Anton;
    font-size: 64px;
}
h2{
    font-family: Anton;
    margin: 1em 0;
    font-size: 48px;
}
h5 {
    font-family: Anton;
    margin: 2em;
    /*border-top: 2px solid gray;*/
}
.re-size {
    font-family: Abel;
}
.no-m{
    margin: 0;
}

.bold{
    font-weight: bold;
}
.logo{
    z-index: 1;
    position: relative;
    width: 105px;
    height: 105px;
    flex-shrink: 0;
    top: 50px;
}
.logo-lg {
    width: 105px;
    height: 105px;
    flex-shrink: 0;
    top: 50px;
}
.head-md {
    display: flex;
    flex-direction: row;
}
.head-l {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.positioning-h{
    margin-top: 68px;
}
.positioning-l {
    margin-top: 68px;
    margin-right: 200px;
}
.space-apart{
    margin-left: 510px;
    top: 50px;
    display: flex;
    position: absolute;
}
.space-between{
    /*margin-left: 510px;*/
    top: 50px;
    display: flex;
    /*justify-content: flex-end;*/
    position: relative;
}
.space{
    margin-right: 10px;
    /*position: relative;*/
}
section{
    padding: 0;
    justify-content: space-evenly;
}
.cross-section{
    margin-top: 20px;
}
.circle {
    width: 105px;
    height: 105px;
    border: 5px solid white;
    border-radius: 100%;
    align-items: center;
    justify-content: space-around;
}
.little-circle {
    width: 18px;
    height: 18px;
    font-weight: bold;
    border-radius: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    padding: 0;
}
.text-center{
    margin: auto;
}
.footer-box{
    width: 90%;
    margin: 1em auto 1em auto;
}
.extra-space{
    margin-top: 2em;
    margin-bottom: 2em;
}
.apples {
    width: 100%;
    border: .75em solid var(--gray-color);
    border-radius: 5px;
}
.text-design {
    color: var(--light-color);
    font-weight: bold;
}
.card {
    background-color: var(--light-color);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.card-body {
    justify-content: space-between;
    padding: 10px 0;
}
.side-bar-image{
    width: 300px;
    height: 75px;
    /*margin: 2em 5px;*/
    margin-bottom: 50px;
}
.side-img{
    margin-right: 5px;
}
.side-bar-tweet{
    margin: 1em 5px;
    padding-top: 1em;
}
div>p{
    width: 100%;
}
nav>h5 {
    margin: 0 -.5em 2em -.5em;
}
.nav-sm {
    z-index: 2;!important;
    position: relative;
    top: -58px;
}
.nav-md {
    z-index: 2;
    position: relative;
    align-self: center;
}
.nav-lg {
    z-index: 2;
    /*position: relative;*/
    /*align-self: center;*/
}
p{
    font-family: Abel;
}
.red {
    background: var(--red-color);

}
.orange {
    background: var(--orange-color);
}
.green {
    background: var(--green-color);
}
.blue {
    background: var(--blue-color);
}

