:root {
    --red-color: #E6563B;
    --orange-color: #EB9D3A;
    --green-color: #7CB06C;
    --blue-color: #00ABA9;
    --light-color: #F0F0F0;
    --gray-color: #E6E6E6;
}

body {
    background-color: var(--light-color);
}
.logo-container{
    background-color: white;

}
.centered{
    width: 100%;
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 64px;
}
h2{
    margin: 1em 0;
    font-size: 48px;
}
h5 {
    margin: 2em;
    /*border-top: 2px solid gray;*/
}

.bold{
    font-weight: bold;
}
.logo{
    width: 105px;
    height: 105px;
    flex-shrink: 0;
}
section{
    padding: 0;
    justify-content: space-evenly;
}
.cross-section{
    margin-top: 20px;
}
.circle {
    width: 105px;
    height: 105px;
    border: 5px solid white;
    border-radius: 100%;
    align-items: center;
    justify-content: space-around;
    margin: .25em;
}
.little-circle {
    width: 18px;
    height: 18px;
    font-weight: bold;
    border-radius: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    padding: 0;
}
.apples {
    width: 100%;
    border: .75em solid var(--gray-color);
    border-radius: 5px;
}
.text-design {
    color: var(--light-color);
    font-weight: bold;
}
.card {
    background-color: var(--light-color);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.card-body {
    justify-content: space-between;
    padding: 10px 0;
}
.hidden-mdn {

}

.red {
    background: var(--red-color);

}
.orange {
    background: var(--orange-color);
}
.green {
    background: var(--green-color);
}
.blue {
    background: var(--blue-color);
}

