:root {
    --red-color: #E6563B;
    --orange-color: #EB9D3A;
    --green-color: #7CB06C;
    --blue-color: #00ABA9;
    --light-color: #F0F0F0;
    --gray-color: #E6E6E6;
}
body {
    background-color: var(--gray-color);
}
.logo-container{
    background-color: var(--light-color);

}
.centered{
    width: 100%;
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 64px;
}
h2{
    margin: 1em 0;
    font-size: 48px;
}
.bold{
    font-weight: bold;
}
.logo{
    width: 105px;
    height: 105px;
    flex-shrink: 0;
}
section{
    padding: 0;
    justify-content: space-evenly;
}
.circle {
    width: 105px;
    height: 105px;
    border: 5px solid var(--light-color);
    border-radius: 100%;
    align-items: center;
    justify-content: space-around;
    /*margin: 1em;*/
}
.text-design {
    color: var(--light-color);
    font-weight: bold;
}
.red {
    background: var(--red-color);

}
.orange {
    background: var(--orange-color);
}
.green {
    background: var(--green-color);
}
.blue {
    background: var(--blue-color);
}

